<tr >
  <td>{{ product.id }}</td>
  <td>{{ product.name }}</td>
  <td>{{ product.price }}</td>
  <td>{{ product.quantity }}</td>
  <td>
    <span [ngClass]="product.isSelected ? 'fa fa-check text-success' : 'fa fa-close text-danger'"></span>
  </td>
  <td>
    <span [ngClass]="product.isAvailable ? 'fa fa-check text-success' : 'fa fa-close text-danger'"></span>
  </td>

  <td>
    <input (click)="onSelected(product)"  type="checkbox" class="form-check-input position-static mt-2" [checked]="product.isSelected">
  </td>

  <td>
    <button (click)="onUpdateProduct(product)" type="button" class="btn btn-success">
      <span class="fa fa-edit"></span>
    </button>
  </td>
  <td>
    <button (click)="onDelete(product)" type="button" class="btn btn-danger">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
</tr>
